<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let filme of lista_filmes">
    <ion-row>
      <div>
        <h2 class="title">{{ filme.original_title }}</h2>
        <p class="text">{{ filme.release_date }}</p>
      </div>
    </ion-row>
    
    <img id="img" [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">

    <ion-card-content>
      <p>{{ filme.overview }}</p>
    </ion-card-content>

    <ion-button color="secondary" expand="block" [routerLink]="['/tabs/detalhes', filme.id]">Detalhes</ion-button>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais filmes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>