<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/images/marty-image.jpg">
        </ion-avatar>
      </ion-item>
      <div>
        <h2 class="title">{{ nome }}</h2>
        <p class="text">{{ date }}</p>
      </div>
    </ion-row>
    
    <img id="img" src="../../assets/images/deLorean-tima-machine-image.jpg">

    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built an app</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <div>12 likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>