<ion-header>
  <ion-toolbar>
    <ion-title>detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="filme">
    <ion-row>
      <div>
        <h2 class="title">{{ filme.original_title }}</h2>
        <p class="text">{{ filme.release_date }}</p>
      </div>
    </ion-row>
    
    <img id="img" [src]="'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path">

    <ion-card-content>
      <p>{{ filme.overview }}</p>
    </ion-card-content>

  </ion-card>
</ion-content>
